ion-content {
    --background: var(--background-color);
  }

  ion-footer{
    position: absolute;
    bottom: 0;    
    text-align: center;
    --background: var(--background-color);
    
    ion-toolbar{
      --background: var(--background-color);
    }

    ion-title{
      font-size: 0.8vw;
    }
  }

.conteudo{
  display: flex;
  align-items: center;
  height: 100vh;


  .div-img{

    position: absolute;
    right: 0;
    height: 100vh;
    img{
      height: 100vh;
    }
  }

  .miolo{
    position: absolute;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: self-end;


    .logo{
      margin-bottom: 4vh;
      img{
        width: 17vw;
      }
    }

    ion-chip{
      height: 15vh;
      border-radius: 100px;
      width: 20vw;
      --background: #f3ba48;
      justify-content: center;
      color: white;
      font-size: 1.8vw;
    }

    .social-media{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2vh;
      

      img{
        margin-right: 1.5vw;
      }


      ion-chip{
        width: 3vw;
        height: 5vh;
      }

      div{
        width: 3vw;
        height: 6vh; 
        border: solid 2px gray;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        ion-icon{
          font-size: 27px;
          color: gray;
        }
      }
    }
}

}