<ion-content>
    <div class="conteudo">
        <div class="miolo">
            <div class="social-media">             
                <div><ion-icon name="logo-instagram"></ion-icon></div>
                <div><ion-icon name="logo-instagram"></ion-icon></div>
                <div><ion-icon name="logo-instagram"></ion-icon></div>
            </div>
            <ion-chip>
                <span><b>E-mail:</b><br>Contato@id.tec.br</span>
            </ion-chip>
        </div>


        <div class="div-img">
            <img src="/assets/images/fale-conosco.png">
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title>InSpread Digital 2020 - Todos os direitos reservados - Termos de uso - Politica de privacidade</ion-title>
    </ion-toolbar>
</ion-footer>