<ion-content *ngIf="!cfgService.isMobile">
  <div class="conteudo">
    <div class="image">
      <img src="/assets/images/quem-somos.png" />
    </div>
    <div class="text">
      <h1>Quem Somos</h1>
      <div class="long-text">
        <div class="retangulo"></div>
        <span
          >A <b>INSPREAD DIGITAL</b> é uma empresa de Tecnologia e Marketing que
          atua como marketplace de influenciadores digitais cadastrados na nossa
          plataforma em todo o Brasil.
        </span>
        <br />
        <br />
        <span>
          Focada na intermediação da publicidade de marcas, rede de shoppings,
          empresas de portes variados e profissionais, temos como objetivo ser
          ponte de comunicação e alavancagem da venda de produtos e serviços dos
          nossos <b>clientes</b>.
        </span>
        <br />
        <br />
        <span>
          Contamos com uma <b>equipe eficiente</b> e comprometida com
          <b>resultados</b>, alicerçados na autoridade da empresa e dos seus
          parceiros na prestação de qualidade dos serviços de comunicação social
          por meio do marketing de influência.
        </span>
        <br />
        <br />
        <span>
          Nosso propósito é impulsionar a geração de oportunidades de negócios e
          crescimento dos nossos clientes.
        </span>
        <br />
        <br />
      </div>
      <div class="tripa">
        <ion-button fill="clear" (click)="openModal('missao')">
          <h2>Missão</h2>
        </ion-button>
        <ion-button fill="clear" (click)="openModal('visao')">
          <h2>Visão</h2>
        </ion-button>
        <ion-button fill="clear" (click)="openModal('valores')">
          <h2>Valores</h2>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="cfgService.isMobile">
  <ion-row class="text-block first">
    <div class="title">
    <h2>Quem Somos</h2>
</div>
    <div class="long-text">
      <span
        >A <b>INSPREAD DIGITAL</b> é uma empresa de Tecnologia e Marketing que
        atua como marketplace de influenciadores digitais cadastrados na nossa
        plataforma em todo o Brasil.
      </span>
    </div>
  </ion-row>
  <ion-row>
    <ion-col class="img-mobile">
      <img src="/assets/images/mobile/qs-model-1.jpg" />
    </ion-col>
  </ion-row>
  <ion-row class="text-block">
    <ion-col>
      Focada na intermediação da publicidade de marcas, rede de shoppings,
      empresas de portes variados e profissionais, temos como objetivo ser ponte
      de comunicação e alavancagem da venda de produtos e serviços dos nossos
      <b>clientes</b>.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="img-mobile">
      <img  src="/assets/images/mobile/qs-model-2.jpg" />
    </ion-col>
  </ion-row>
  <ion-row class="text-block last">
    <ion-col>
      Contamos com uma <b>equipe eficiente</b> e comprometida com
      <b>resultados</b>, alicerçados na autoridade da empresa e dos seus
      parceiros na prestação de qualidade dos serviços de comunicação social por
      meio do marketing de influência.
      <br />
      <br />
      <br />
      Nosso propósito é impulsionar a geração de oportunidades de negócios e
      crescimento dos nossos clientes.
    </ion-col>
  </ion-row>

  <ion-row class="mobile-tripa">
    <ion-col size="4">
      <ion-button fill="clear" (click)="openModal('missao')">
        Missão
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button fill="clear" (click)="openModal('valores')">
        Valores
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button fill="clear" (click)="openModal('visao')">
        Visão
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
