ion-content {
    --background: var(--background-color);
  }

  $colorDefault: #305F9D;

  $colorTripa: #FFBB40;


.retangulo{
  width: 20vw;
  height: 60vh;
  position: absolute;
  border-style: solid;
  border-width: 4px 0px 4px 4px;
  border-color: #305F9D;
  top: 17vh;
  border: solid 1px 0px 1px 0px;
  right: 47vw;
}

.conteudo{
  display: flex;
  height: 100vh;

  .image{
    img{
      width: 40vw;
      height: 100vh;
    }
  }
  

  .text{
    
    padding: 3vw;
    background: #305F9D;
    width: 60vw;
      h1{
        font-size: 3vw;
        text-transform: capitalize;
        color: #FFBB40;
      }

      .long-text{
        padding-top: 5vh;
        font-size: 1.5vw;
        color: white;
      }
  }

  .tripa{
    margin-top: 7vh;
    display: flex;
    justify-content: space-around;
    border: solid 1px #FFBB40;
    border-radius: 0px 0px 0px 50px;
    background: #FFBB40;
    color: #585B5C;
    height: 8vh;
    align-items: center;
    position: absolute;
    width: 46vw;
    right: 0;

    h2{
      margin: 0;
      font-weight: bold;
      font-size: 2vw;
      text-transform: capitalize;
    }
  }
}


.text-block{
  background: $colorDefault;
  color: white;
  padding: 7vw;
  text-align: center;
 
  .title{
    width: 100%;
    color: $colorTripa;
    font-weight: bold;

    h2{
      font-size: 32px;
    }
  }
}

.last{
  border-radius: 0 0 50px 50px;
}

.first{
  border-radius: 50px 50px 0 0;
}


ion-col{
  padding: 0;
}

.mobile-tripa{
  margin: 5vh 0 5vh 0;
  background: $colorTripa;

  ion-button{
    font-weight: bold;
    font-size: 22px;
    text-transform: inherit;
  }

}