<ion-content>



    <div class="conteudo">
        <div class="image">
            <img src="/assets/images/quem-somos.png">
        </div>
        <div class="text">
            <h1> Quem Somos</h1>
            <div class="long-text">

                <span>A <b>INSPREAD DIGITAL</b> é uma empresa de Tecnologia e Marketing que atua como marketplace de
                    influenciadores digitais cadastrados na nossa plataforma em todo o Brasil.
                </span>
                <br>
                <br>
                <span>
                    Focada na intermediação da publicidade de marcas, rede de shoppings, empresas de portes variados e
                    profissionais, temos como objetivo ser ponte de comunicação e alavancagem da venda de produtos e
                    serviços dos nossos <b>clientes</b>.
                </span>
                <br>
                <br>
                <span>
                    Contamos com uma <b>equipe eficiente</b> e comprometida com <b>resultados</b>, alicerçados na
                    autoridade da
                    empresa e dos seus parceiros na prestação de qualidade dos serviços de comunicação social por meio
                    do marketing de influência.
                </span>
                <br>
                <br>
                <span>
                    Nosso propósito é impulsionar a geração de oportunidades de negócios e crescimento dos nossos
                    clientes.
                </span>
                <br>
                <br>
            </div>
            <div class="tripa">
                <h2>
                    Missão
                </h2>
                <h2>
                    Visão
                </h2>
                <h2>
                    Valores
                </h2>
            </div>

        </div>
    </div>
</ion-content>