ion-content {
    --background: var(--background-color);
  }


.image{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    height: 100vh;

    img{
      height: 100vh;
    }
}

input{
  color: #1b1a1a;
}

//

.title{
  font-size: 2.5vw;
  color: #EE4367;
  width: 100%;
  text-align: center;
  margin-bottom: 10vh;
}

.btn-enviar{
  display: flex;
  justify-content: flex-end;

  ion-button{
      color: white;
      text-transform: inherit;
      font-size: 1vw;
      
  }

  .enviar-mobile{
    color: white;   
    height: 16px;
    font-size: 16px;    
  }
}


textarea{
  resize: none !important;
}

textarea.mat-input-element{
  height: 18vh !important;
}


.col-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-title{

  line-height: 1.5;
  text-align: center;


  .title-mobile{
    color: #757575;
    font-size: 6vw;
  }

  .sub-title{
    color: #EE4367;
    font-size: 4.5vw;

  }


}



.form{
  padding: 2vw;
  background: #EE4367;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 27vw;
  font-size: 1vw;

}

.background-mobile{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.form-mobile{
  padding: 10vw;
  background:rgb(238 67 103 / 0.95);
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.row-title{
  z-index: 1;
  display: flex;
  margin: 15px;
}

.row-form{
  height: 100%;
  position: absolute;
  bottom: 0;
  max-height: 70vh;
  width: 100%;
  z-index: 1;
}

.circle{
  position: absolute;
  height: 20vh;
  width: 30vh;
  left: 7px;
  top: 40vh;
  
  img{
    height: auto;
  }
  
}