<ion-content>


<ion-row>
    <ion-col class="col-form">
        <form class="form">
            <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
        </form>
        
    </ion-col>
    <ion-col class="image">
        <div class="circle"></div>
        <img src="/assets/images/cadastre-se.png">
    </ion-col>
</ion-row>

</ion-content>