<ion-content>
  <div class="conteudo">
    <div class="div-img">
      <img src="/assets/images/portfolio.png">
    </div>
    <div class="text-content">
      <div class="text">
        <span>
          A <ion-text>Inspread Digital</ion-text> é a maior vitrine escalável de marketing de influência do País.
          Conectamos você ao universo
          digital e selecionamos as principais estrelas do marketing de influência para apresentar ao mundo o tamanho do
          seu
          sonho.
        </span>
      </div>
      <div class="subtitle">
        <ion-text>
          <h1>Inspread-se</h1>
        </ion-text>
      </div>
      <div class="tripa">
        <h2>
          PEGADA DIGITAL
        </h2>
        <h2>
          CONSULTORIA SOBRE MEDIDA
        </h2>
        <h2>
          CAMPANHAS COMPLETAS
        </h2>
      </div>
    </div>
  </div>
</ion-content>