ion-content {
    --background: var(--background-color);
  }

  $color: #315f9d;

.conteudo{
  display: flex;
  width: 80vw;
  position: absolute;
  top: 15vh;

  .title-page{
    font-size: 2.5vw;
    font-weight: bold;
    color: #325f9d;
    position: absolute;
    left: 7vw;
  }

  .cards{
    z-index: 2;
    position: absolute;
    top: 15vh;

    ion-card{
      width: 50vw;
      max-height: 35vh;
      min-height: 27vh;
      background: #315f9d;
      color: white;
      text-align: right;
      margin-bottom: 1.5vh;

      ion-card-header{
        padding-bottom: 1vh;
      }

      ion-card-title{
        color: white;
        font-weight: bold;
        font-size: 1.8vw;
      }

      ion-card-content{
        padding-top: 0;
        font-size: 1.2vw;
        font-weight: bold;
      }
    }
  }
    img{
      right: 0;   
      width: 40vw;
      position: absolute;
    }
}


.conteudo-mobile{


  .row-title{
    justify-content: center;
    color: #f3b63e;
    font-size: 8vw;
    font-weight: bold;
    width: 100%;
  }
 

  .cards{


    ion-card{
      --color:white;
      background:$color;
      text-align: center;
      font-size: 20px;
      

      ion-card-title{
        text-align: center;
        color: white;
        font-size: 25px;
      }

      ion-card-content{
        font-size: 20px;
      }
    }

    .pesquisa{
      height: 100%;
      max-height: 70vh;
    }

    .perfis{
      height: 100%;
      max-height: 70vh;
    }

    .gerenciamento{
      height: 100%;
      max-height: 60vh;
    }

    .divulgacao{
      height: 100%;
      max-height: 60vh;
    }

    .analise{
      max-height: 60vh;
      height: 100%;
    }


  }

}