<ion-content *ngIf="!cfgService.isMobile">
  <div class="conteudo">
    <div class="title-page">Plataforma</div>
    <div class="cards">
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >PESQUISA DE<br />
            INFLUENCIADORES</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Sistema inteligente de pesquisa e seleção otimizada de influenciadores
          a partir dosdados inseridos para seu perfil de divulgação. Crie e
          exporte listas para sua conta INSPREAD. Temos o influenciador certo
          para o seu negócio!
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >PERFIS DE<br />
            INFLUENCIADORES</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Conheça o perfil dos influenciadores cadastrados. Disponibilizamos
          ferramentas estatísticas para a melhor escolha do influenciador para
          seu público-alvo através da análise do perfil do influenciador e do
          desempenho nas mídias sociais por abrangência de região, e dentro do
          seu orçamento.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >GERENCIAMENTO DE<br />
            RELACIONAMENTO</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          As maiores estrelas do marketing digital em um só lugar – INSPREAD.
          Gerenciamento personalizado do relacionamento do seu negócio com os
          influenciadores escolhidos.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >DIVULGAÇÃO DO<br />
            SEU NEGÓCIO</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Conectamos o seu negócio ao tamanho do seu sonho. Oferecemos os
          influenciadores certos às necessidades da sua divulgação e ao seu
          orçamento.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >ANÁLISE DE<br />
            RESULTADOS</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Calculamos o retorno do seu investimento (ROI) através da análise de
          desempenho das campanhas patrocinadas. Entenda o impacto da INSPREAD
          no seu negócio.
        </ion-card-content>
      </ion-card>
    </div>

    <img src="/assets/images/garotas-plataforma.png" />
  </div>
</ion-content>

<ion-content *ngIf="cfgService.isMobile">
  <ion-row class="conteudo-mobile">
    <ion-row class="row-title"> Plataforma </ion-row>

    <div class="cards">
 
        <ion-card class="pesquisa">
          <ion-card-header>
            <ion-card-title
              >PESQUISA DE<br />
              INFLUENCIADORES</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            Sistema inteligente de pesquisa e seleção otimizada de
            influenciadores a partir dos dados inseridos para seu perfil de
            divulgação. Crie e exporte listas para sua conta INSPREAD. Temos o
            influenciador certo para o seu negócio!
            <img class="model" src="/assets/images/mobile/plat-model-1.png" />
          </ion-card-content>
        </ion-card>
       

      <ion-card class="perfis">
        <ion-card-header>
          <ion-card-title
            >PERFIS DE<br />
            INFLUENCIADORES</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Conheça o perfil dos influenciadores cadastrados. Disponibilizamos
          ferramentas estatísticas para a melhor escolha do influenciador para
          seu público-alvo através da análise do perfil do influenciador e do
          desempenho nas mídias sociais por abrangência de região, e dentro do
          seu orçamento.
          <img class="model" src="/assets/images/mobile/plat-model-2.png" />
        </ion-card-content>
      </ion-card>
      <ion-card class="gerenciamento">
        <ion-card-header>
          <ion-card-title
            >GERENCIAMENTO DE<br />
            RELACIONAMENTO</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          As maiores estrelas do marketing digital em um só lugar – INSPREAD.
          Gerenciamento personalizado do relacionamento do seu negócio com os
          influenciadores escolhidos.
          <img class="model" src="/assets/images/mobile/plat-model-3.png" />
        </ion-card-content>
      </ion-card>
      <ion-card class="divulgacao">
        <ion-card-header>
          <ion-card-title
            >DIVULGAÇÃO DO<br />
            SEU NEGÓCIO</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Conectamos o seu negócio ao tamanho do seu sonho. Oferecemos os
          influenciadores certos às necessidades da sua divulgação e ao seu
          orçamento.
          <img class="model" src="/assets/images/mobile/plat-model-4.png" />
        </ion-card-content>
      </ion-card>
      <ion-card class="analise">
        <ion-card-header>
          <ion-card-title
            >ANÁLISE DE<br />
            RESULTADOS</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          Calculamos o retorno do seu investimento (ROI) através da análise de
          desempenho das campanhas patrocinadas. Entenda o impacto da INSPREAD
          no seu negócio.
          <img class="model" src="/assets/images/mobile/plat-model-5.png" />
        </ion-card-content>
      </ion-card>
    </div>
  </ion-row>
</ion-content>
