ion-content {
  --background: var(--background-color);
}

.first-text {
  position: absolute;
  left: 9vw;
  right: 30px;
  top: 4vh;
  color: #81818174;
  font-family: Arial, Helvetica, sans-serif;

  .bloco-rosa {
    width: 24vw;
    position: absolute;
    height: 8vh;
    background: pink;
    opacity: 0.3;
    bottom: -12px;
    left: 8.2vw;
  }
  .title {
    $color-font: #b3b3b3;
    font-size: 4vw;
    line-height: 0.9;
    margin: 0;

    .empresa {
      font-weight: 600;
      font-size: 5vw;
      color: $color-font;
    }

    .escalavel {
      font-size: 5vw;
      padding-left: 4vw;
      color: $color-font;
    }

    .marketing {
      font-weight: bold;
      font-size: 7.5vw;
      color: $color-font;
    }
  }
}

.div-sub-title {
  display: flex;
  justify-content: flex-end;
  .texto-traço {
    display: flex;
    align-items: flex-end;
  }

  .traço {
    margin-top: 0.2vh;
    width: 3vw;
    height: 0.1vh;
    background: #ef4073;
    position: absolute;
  }
}

.sub-img {
  display: flex;
  align-items: center;
}

.sub-title {
  text-align: right;
  width: 34vw;
  /* position: absolute; */
  /* top: 50vh; */
  font-size: 1.3vw;
  color: #818181;
  margin-top: 15vh;
}

.first-image {
  text-align: right;
  img {
    width: 50vmax;
  }
}
.tripa-depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3vw;

  .tripa {
    justify-content: center;
    display: flex;
    text-align: center;
    width: 50vw;
    text-align: center;
    border: solid 1px #ee3561;
    height: 6vh;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    background: #ee3561;
    border-radius: 50px;
    text-transform: uppercase;
    align-items: center;

    .depoimentos {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      .traço {
        width: 3vw;
        height: 0.2vh;
        background: white;
        position: absolute;
        opacity: 0.6;
      }
    }
  }

  .depoimentos-sub {
    color: #818181;
    padding-top: 1vh;
    font-size: 1.2vw;
  }
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;

  .line {
    width: 50vw;
    height: 0.1vh;
    background: #f3b63e;
    margin: 5vw;
  }
}

.footer {
  justify-content: center;
  font-size: 1.3vw;
  margin: 2vh;
}







.mobile{

  .img-slide-mobile{
    max-width:100%;
  }

  .first-text-mobile{
    margin: 8vh 0 4vh 0;
    ion-col{
      display: flex;
      justify-content: center;
    }


    .title-mobile {
      $color-font: #b3b3b3;
      font-size: 9vw;
      line-height: 1;
      margin: 0;
      color: #81818174;
    
      .empresa {
        font-weight: 600;
        font-size: 11vw;
        color: $color-font;
      }
    
      .bloco-rosa {
        width: 50vw;
        position: absolute;
        height: 4vh;
        background: pink;
        opacity: 0.3;
        bottom: 8px;
        right: 10vh;
      }

      .escalavel {
        font-size: 11vw;
        padding-left: 10vw;
        color: $color-font;
      }
    
      .marketing {
        font-weight: bold;
        font-size: 15vw;
        color: $color-font;
      }
    }
}

 .row-sub-title{

  margin: 0vh 3vh 8vh 0;
  .sub-title-mobile {
    text-align: right;
    width: 100%;
    color: #818181;
    font-size: 3.8vw;

    .div-sub-title {
      display: flex;
      justify-content: flex-end;
      .texto-traço {
        display: flex;
        align-items: flex-end;
      }
    
      .traço {
        margin-top: 0.2vh;
        width: 12vw;
        height: 0.1vh;
        background: #ef4073;
        position: absolute;
      }
    }
  }
}


  .tripa-depoimentos-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    .tripa {
      justify-content: center;
      display: flex;
      text-align: center;
      width: 70vw;
      text-align: center;
      border: solid 1px #ee3561;
      height: 4vh;
      color: white;
      font-weight: bold;
      font-size: 4vw;
      background: #ee3561;
      border-radius: 50px;
      text-transform: uppercase;
      align-items: center;
  
      .depoimentos {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .traço {
          width: 6vw;
          height: 0.3vh;
          background: white;
          position: absolute;
          opacity: 0.6;
        }
      }
    }
  
    .depoimentos-sub {
      color: #818181;
      padding-top: 1vh;
      font-size: 3.5vw;
    }
  }

  .footer-mobile{
    justify-content: center;
    font-size: 3.5vw;
    margin: 1vh;
  }
  
}
