ion-content {
    --background: var(--background-color);
  }

  .first-text{
    position: absolute;
    left: 9vw;
    right: 30px;
    top: 3vh;
    color: #81818174;

    h1{
      font-size: 6vw;
      line-height: 0.9;
      margin: 0;
    }
  }

  .div-sub-title{
    right: 0;
    position: absolute;

    .traço{
      width: 2.5vw;
      height: 0.2vh;
      margin-top: 0.4vh;
      background: red;
    }
  }

 
  .sub-title{
    text-align: right;
    width: 34vw;
    position: absolute;
    top: 50vh;
    font-size: 1.3vw;
    color: #818181;
  }
  .first-image{
    text-align: right;
    img{
     width: 50vmax;
    }
  }
.tripa-depoimentos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3vw;

  .depoimentos{
    width: 50vw;
    text-align: center;
    border: solid 1px red;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    background: #EE3561;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .depoimentos-sub{
    color: #818181;
    padding-top: 1vh;
    font-size: 1.2vw;
  }
}

.divider{

  width: 100%;
  display: flex;
  justify-content: center;


  .line{
    width: 50vw;
    height: 0.1vh;
    background: #F3B63E;
    margin: 5vw;

  }
}

.footer{
  justify-content: center;
  font-size: 1.3vw;
  margin: 2vh;

  
}


