<ion-content>
    <div>
        <div class="first-text">
            <h1>
                <ion-text style="font-weight: bold;font-size: 7.5vw;">Marketing</ion-text><br>
                <ion-text style="font-size: 5vw;padding-left: 4vw;">Escalavel</ion-text>
                para<br> sua <ion-text>Empresa</ion-text>
            </h1>
        </div>
        <div class="sub-title">
            <span>Identificamos seu publico alvo</span><br><br>
            <span>Detectamos as necessidades de divulgação e<br>
                marketing digital da sua empresa
            </span><br><br>
            <span>Selecionamos as estrelas para influenciar a expansão<br> do seu negocio</span><br><br>
            <span style="text-transform: uppercase;font-weight: bold;font-size: 1.3vw;">Resultado e visibilidade para
                sua empresa</span>
        </div>
    </div>
    <div class="first-image">
        <img src="/assets/images/inicio_home.png">
    </div>
</ion-content>