ion-menu ion-content {
    --background: var(--background-color);
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    --background: var(--background-color);
  }
  

  ion-menu ion-item{
    --color-hover: #8f8f8f;
    --background: var(--background-color);
    --ripple-color: transparent;
    --background-hover:unset;
    --min-height: 5.5vh;
    color: #757575;
    font-size: 3vh;
  

    ion-text{
      display: flex;
      align-items: center;
    } 
  }

 ion-list-header,
 ion-note {
    padding-left: 10px;
    padding-bottom: 20px
  }
  

  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
    padding-bottom: 20px
  }
  
  ion-menu.md ion-list#inbox-list {
    //border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;

 
  }
  
/*   ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  } */
  


/*   ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
   */
/*   ion-menu.md ion-item ion-icon {
    color: #616e7e;
  } */
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
/*   ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  } */
  ion-split-pane{
    //--border:unset;
    --side-min-width: 19vw;
    --side-max-width: 19vw
  }
  
  ion-list{
    background: var(--background-color);
  }

  ion-menu{
   
    background: var(--background);
  }
  



  .header-logo{
    padding-bottom: 3vh;

    img{
      
      width: 11vw;
    }
  }

  .header-logo-mobile{
    img{
     
      width: 150px;
    }
   
  }



  .mobile-header{
    --background: var(--background-color);
  
    
    img{
      width: 100px;
      margin: 2vh 0 2vh 2vh;
    }
  }


  
  .button-plataforma-mobile{
    font-size: 16px;
    margin-right: 15px;
    text-transform: capitalize;
    color: #EE4367;

    ion-icon{
      font-size: 22px;
      margin-right: 5px;
    }
  }


  .cursor-pointer{

    :hover{
      cursor: pointer;
    }
    
  }




  ion-item.selected {
    .blue{
      color:#305F9D;
      &-background{
        background:#305F9D;
      }
    }
    
    .red{
      
      color: #EE4367;
    
      &-background{
        background:#EE4367;
      }
    }   

    .yellow{
      color: #F3B63E;

      &-background{
        background:#F3B63E;
      }
    }


     display: flex;

    .traço{
      width: 0.3vw;
      height: 3vh;
      margin-right: 5px;
      transition: all 0.5s ease-in-out;
    }
  }





  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
    transition: 0.5s;
 

    ion-content {
      --padding-start: 8px;
      --padding-end: 8px;
      --padding-top: 20px;
      --padding-bottom: 20px;
  
      --background: var(--background-color);
    }
    
  }

    ion-item{
      --color-hover: #8f8f8f;
      --background: var(--background-color);
      --ripple-color: transparent;
      --background-hover:unset;
      --min-height: 5.5vh;
      color: #757575;
      font-size: 3vh;
    
  
      ion-text{
        display: flex;
        align-items: center;
      } 
    }

  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
  }
  



