ion-menu ion-content {
    --background: var(--background-color);
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    //border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;

 
  }
  
/*   ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  } */
  


/*   ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
   */
/*   ion-menu.md ion-item ion-icon {
    color: #616e7e;
  } */
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
/*   ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  } */
  ion-split-pane{
    //--border:unset;
    --side-min-width: 19vw;
    --side-max-width: 19vw
  }


  ion-menu ion-item{
    --color-hover: #8f8f8f;
    --background: var(--background-color);
    --ripple-color: transparent;
    --background-hover:unset;
    --min-height: 5.5vh;
    color: #757575;
    font-size: 3vh;
  

    ion-text{
      display: flex;
      align-items: center;
    } 
  }

  ion-list{
    background: var(--background-color);
  }

  ion-menu{
   
    background: var(--background);
  }
  
  ion-item.selected {
    .blue{
      color:#305F9D;
      &-background{
        background:#305F9D;
      }
    }
    
    .red{
      
      color: #EE4367;
    
      &-background{
        background:#EE4367;
      }
    }   

    .yellow{
      color: #F3B63E;

      &-background{
        background:#F3B63E;
      }
    }


     display: flex;

    .traço{
      width: 0.3vw;
      height: 3vh;
      margin-right: 5px;
      transition: all 0.5s ease-in-out;
    }
  }


  .header-logo{
    padding-bottom: 3vh;

    img{
      width: 11vw;
    }
  }



