/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/black/Lato-Black.woff2') format('woff2'),
    url('/assets/fonts/black/Lato-Black.woff') format('woff');
  }

  @font-face {   
    font-family: 'Rubik';  //This is what we are going to call  
    src: url('/assets/fonts/regular/Rubik-Regular.ttf');
  }

.background{
    --background: var(--background-color) !important;
}

.modal-missao{
    --width: 50vw;
    --height: 27vh;
    --border-radius: 0px 50px 0px 50px;
}

.modal-visao{
    --width: 50vw;
    --height: 21vh;
    --border-radius: 0px 50px 0px 50px;
}

.modal-valores{
    --width: 50vw;
    --height: 17vh;
    --border-radius: 0px 50px 0px 50px;

}

.modal-digital{
    --width: 50vw;
    --height: 26vh;
    --border-radius: 0px 50px 0px 50px;
}
.modal-consultoria{
    --width: 50vw;
    --height: 28vh;
    --border-radius: 0px 50px 0px 50px;
}
.modal-campanhas{
    --width: 50vw;
    --height: 23vh;
    --border-radius: 0px 50px 0px 50px;
}
